<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vendetech.project.tsms.project.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.vendetech.project.tsms.domain.Project" >
    <id column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_num" property="projectNum" jdbcType="VARCHAR" />
    <result column="project_manager" property="projectManager" jdbcType="VARCHAR" />
    <result column="project_leader" property="projectLeader" jdbcType="VARCHAR" />
    <result column="project_department_id" property="projectDepartmentId" jdbcType="BIGINT" />
    <result column="project_company_id" property="projectCompanyId" jdbcType="BIGINT" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_num" property="customerNum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="contract_status" property="contractStatus" jdbcType="INTEGER" />
    <result column="projectcol" property="projectcol" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="departmentName" property="departmentName" />
    <result column="companyName" property="companyName"  />
    <result column="user_name" property="userName"/>
  </resultMap>
  <sql id="Base_Column_List" >
    project_id, project_name, project_num, project_manager, project_leader, project_department_id, 
    project_company_id, customer_name, customer_num, status, projectcol, create_time, 
    modify_time
  </sql>
  <select id="exportExcelInfoBykeWord"  parameterType="java.lang.String" resultType="java.util.HashMap">
      SELECT DISTINCT
            pt.project_num AS projectNum,
            pt.project_name AS projectName,
            pt.project_manager AS projectManager,
            su.nick_name AS projectManagerName,
            pt.project_leader AS projectLeader,
            CASE pt.`status`
        WHEN '1' THEN
            '正常'
        WHEN '0' THEN
            '关闭'
        END AS `status`,
        CASE pt.contract_status
	      WHEN '1' THEN
	      '已签'
	      WHEN '0' THEN
	      '待签'
	      END AS contractStatus,
         dt.department_num AS departmentNum,
         dt.department_name AS departmentName,
         cy.company_name AS companyName,
         pt.customer_name AS customerName,
         pt.customer_num AS customerNum
        FROM
            project pt
        LEFT JOIN sys_user su ON pt.project_manager = su.user_name
        LEFT JOIN department dt ON pt.project_department_id = dt.department_id
        LEFT JOIN company cy ON pt.project_company_id = cy.company_id
        <where>
            <if test="keyword != null and keyword != ''">
                (pt.project_name like concat('%', #{keyword}, '%') or pt.project_num like concat('%', #{keyword}, '%'))
            </if>
        </where>
  </select>


  <select id="snapshotReportData"
	parameterType="java.util.HashMap" statementType="CALLABLE">
	{call monthTimeSheetReportProc()}
  </select>

  <select id="selectByExcelNickeName" parameterType="com.vendetech.project.tsms.project.controller.dto.ProjectExcelDTO" resultType="com.vendetech.project.system.domain.SysUser">
      SELECT
            user_name
        FROM
            sys_user
        WHERE
         user_name = #{employeeNum}
        AND nick_name = #{projectManager}
  </select>
   <select id="selectByExcelByRoleId" parameterType="com.vendetech.project.tsms.project.controller.dto.ProjectExcelDTO" resultType="com.vendetech.project.system.domain.SysUser">
      SELECT
            su.user_name
        FROM
            sys_user su
        LEFT JOIN sys_user_role sur ON su.user_id = sur.user_id
        WHERE
            sur.role_id = 3
        AND su.user_name = #{employeeNum}
        AND su.nick_name = #{projectManager}
        AND su.del_flag = 0
  </select>
  <select id="getDepartment" parameterType="com.vendetech.project.tsms.project.controller.dto.ProjectExcelDTO" resultType="com.vendetech.project.tsms.project.controller.dto.ProjectExcelDTO">
        SELECT
            department_name as departmentName
        FROM
            department
        WHERE
            department_num = #{departmentNum}
        AND department_name = #{departmentName}
  </select>
  <select id="selectByProjectList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT pt.project_id,
		       pt.project_num,
		       pt.project_name,
		       su.nick_name AS project_manager,
		       pt.project_leader,
		       pt.project_department_id,
		       pt.project_company_id,
		       CASE pt. STATUS
		         WHEN '1' THEN
		          '正常'
		         WHEN '0' THEN
		          '关闭'
		       END AS status,
		       CASE pt.contract_status
		         WHEN '1' THEN
		          '已签'
		         WHEN '0' THEN
		          '待签'
		       END AS contractStatus,
		       (SELECT replace(GROUP_CONCAT(department_name, ' ', department_num),
		                       ',',
		                       ' - ')
		          from department
		         where find_in_set(department_id,
		                           getParentDepartment(dt.dd_department_id))) departmentName,
		       cp.company_name AS companyName,
		       pt.customer_name,
		       pt.customer_num
		  FROM project pt
		  LEFT JOIN department dt
		    ON dt.department_id = pt.project_department_id
		  LEFT JOIN company cp
		    ON cp.company_id = pt.project_company_id
		  LEFT JOIN sys_user su
		    ON su.user_name = pt.project_manager
      <where>
        <if test="keyword != null and keyword != ''">
         (pt.project_name like concat('%', #{keyword}, '%') or pt.project_num like concat('%', #{keyword}, '%'))
        </if>
    </where>
    ORDER  BY pt.create_time DESC
  </select>
  <select id="selectByProjectIdList" resultMap="BaseResultMap" parameterType="java.lang.Long">
     SELECT
      pt.project_id,
      pt.project_num,
      pt.project_name,
      su.nick_name AS nick_name,
      su.user_name AS project_manager,
      pt.project_leader,
      CASE pt. STATUS
      WHEN '1' THEN
      '正常'
      WHEN '0' THEN
      '关闭'
      END AS `status`,
      pt.contract_status,
      dt.department_name AS departmentName,
      pt.project_department_id,
      pt.project_company_id,
      cp.company_name AS companyName,
      pt.customer_name,
      pt.customer_num
      FROM
      project pt
      LEFT JOIN department dt ON dt.department_id = pt.project_department_id
      LEFT JOIN company cp ON cp.company_id = pt.project_company_id
      LEFT JOIN sys_user su ON su.user_name = pt.project_manager
      where
      pt.project_id = #{projectId,jdbcType=BIGINT}
  </select>
  <select id="selectByProjectNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select project_num  from project  where project_num = #{projectNum,jdbcType=VARCHAR}
  </select>
    <select id="selectByNum" parameterType="java.lang.String" resultMap="BaseResultMap">
        select project_num  from project  where project_num = #{projectNum,jdbcType=VARCHAR}
    </select>
  <select id="getByProjectNum" parameterType="com.vendetech.project.tsms.domain.Project" resultMap="BaseResultMap" >
    select DISTINCT project_id,project_num,project_name,status from project
    <where>
         status = 1
         and project_manager = #{projectManager}
        <if test="projectNum != null and projectNum != ''">
            and project_num like concat('%', #{projectNum}, '%')
        </if>
    </where>
  </select>

  <select id="getProjectDepartment" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select project_department_id from project where project_id =#{projectId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from project
    where project_id = #{projectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from project
    where project_id = #{projectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vendetech.project.tsms.domain.Project" >
    insert into project (project_id, project_name, project_num, 
      project_manager, project_leader, project_department_id, 
      project_company_id, customer_name, customer_num, 
      status,contract_status, projectcol, create_time, 
      modify_time)
    values (#{projectId,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{projectNum,jdbcType=VARCHAR}, 
      #{projectManager,jdbcType=VARCHAR}, #{projectLeader,jdbcType=VARCHAR}, #{projectDepartmentId,jdbcType=BIGINT}, 
      #{projectCompanyId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{customerNum,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{contractStatus,jdbcType=VARCHAR}, #{projectcol,jdbcType=VARCHAR}, sysdate(),
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vendetech.project.tsms.domain.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectNum != null" >
        project_num,
      </if>
      <if test="projectManager != null" >
        project_manager,
      </if>
      <if test="projectLeader != null" >
        project_leader,
      </if>
      <if test="projectDepartmentId != null" >
        project_department_id,
      </if>
      <if test="projectCompanyId != null" >
        project_company_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerNum != null" >
        customer_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="projectcol != null" >
        projectcol,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNum != null" >
        #{projectNum,jdbcType=VARCHAR},
      </if>
      <if test="projectManager != null" >
        #{projectManager,jdbcType=VARCHAR},
      </if>
      <if test="projectLeader != null" >
        #{projectLeader,jdbcType=VARCHAR},
      </if>
      <if test="projectDepartmentId != null" >
        #{projectDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="projectCompanyId != null" >
        #{projectCompanyId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerNum != null" >
        #{customerNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="projectcol != null" >
        #{projectcol,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vendetech.project.tsms.domain.Project" >
    update project
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNum != null" >
        project_num = #{projectNum,jdbcType=VARCHAR},
      </if>
      <if test="projectManager != null" >
        project_manager = #{projectManager,jdbcType=VARCHAR},
      </if>
      <if test="projectLeader != null" >
        project_leader = #{projectLeader,jdbcType=VARCHAR},
      </if>
      <if test="projectDepartmentId != null" >
        project_department_id = #{projectDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="projectCompanyId != null" >
        project_company_id = #{projectCompanyId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerNum != null" >
        customer_num = #{customerNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="contractStatus != null" >
        contract_status = #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectcol != null" >
        projectcol = #{projectcol,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vendetech.project.tsms.domain.Project" >
    update project
    set
      project_manager = #{projectManager,jdbcType=VARCHAR},
      project_leader = #{projectLeader,jdbcType=VARCHAR},
      project_department_id = #{projectDepartmentId,jdbcType=BIGINT},
      project_company_id = #{projectCompanyId,jdbcType=BIGINT},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_num = #{customerNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      contract_status = #{contractStatus,jdbcType=VARCHAR},
      projectcol = #{projectcol,jdbcType=VARCHAR},
      modify_time = sysdate()
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  <select id="findProjectByNumName" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where project_name = #{projectName,jdbcType=VARCHAR}
    and project_num = #{projectNum,jdbcType=VARCHAR}
  </select>

</mapper>